* {
    padding: 0px;
    margin: 0px;
}

body {

    background: #F78A79;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}

.box {

    border-radius: 20%;
    justify-content: center;
    display: flex;
    align-items: center;
    background: #F54A2E;
    width: 400px;
    height: 360px;
    text-align: center;
    font-weight: bold;

}

.info {
    text-align: center;
    color: black;
    font-size: 20px;
    top: 20px;
    display: flex;
}

.boxlg {
    margin-left: 35%;
    margin-top: 25px;
    margin-bottom: 25px;
}

input[type="text"],
[type="date"],
[type="number"],
[type="time"] {
    width: 100%;
    border-radius: 60px;
    margin: 5px;
    padding: 8px;
    border: none;
}

input[type="submit"] {
    background: black;
    color: white;
    margin: 5px;
    width: 100%;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}


input[type="submit"]:hover {
    color: white;
    transition: 1s;
    text-shadow: 0px 0px 8px white;

}


.aviso {
    margin: 2px;
    font-weight: bold;
}

@media (max-width: 600px){
    .boxlg{
        margin: 40px;
    }
}