@import url('https://fonts.googleapis.com/css2family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #F78A79;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.formregistro {
    background-color: #F54A2E;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 6px;
    border-radius: 20px;
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 350px;
    height: 450px;
    /* box-shadow: 0px 0px 40px   rgb(255, 0, 0), 0px 0px 20px rgba(255, 0, 0, 0.815); */
}

.buttonsForm {
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 7px 0 rgb(255, 0, 0);
}

.buttonsForm button {

    color: rgb(0, 0, 0);
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 30px;
}

.btnColor {
    position: absolute;
    width: 119px;
    height: 100%;
    background: linear-gradient(to right, #505050, #979797e0);
    border-radius: 30px;
    transition: .3s;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    border: none;
    margin-top: 40px;

    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 90%;
}

button[type="submit"] {
    
    background: #000000;
    color: white;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
}




i {
    position: absolute;
    left: 0;
    padding: 10px 10px;
}

.iEmail {
    top: 163px;
    left: 20px;
}

.iPassword {
    top: 233px;
    left: 20px;
}

.iPassword2 {
    top: 303px;
    left: 20px;
}


.erros {
    font-size: 15px;
    position: absolute;
    color: white;
    top: 520px;
    z-index: 1;

}



a {
    color: black;
    text-decoration: none;


}

a:hover {
    color: white;
    transition: 1s;
}

h1 {
    font-size: 25px;

}