* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    border-radius: 0;
}

.cardapio-geral {
    z-index: -1;
}

img {
    /* responsividade imagem entrando */
    width: 100%;
    height: auto;
    border-radius: 10%;
}


.cxtxteimg {
    position: relative;
    margin: 5px;
    background-color: #F54A2E;
    border-radius: 1%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}



#pratos {
    margin-top: 15px;
    color: black;
    padding: 20px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    text-align: center;
}

#entradas {
    margin-top: 15px;
    color: black;
    padding: 20px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    text-align: center;
}

#sobremesas {
    margin-top: 15px;
    color: black;
    padding: 20px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    text-align: center;
}

#link-topo {
    /*botao page up */
    text-decoration: none;
    color: #000;
    background-color: #C23A25;
    border-radius: 50%;
    padding: 10px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    box-shadow: 3px 3px 10px #333;
}

.col-s-1 {
    width: 8.33%;
}

.col-s-2 {
    width: 16.66%;
}

.col-s-3 {
    width: 25%;
}

.col-s-4 {
    width: 33.33%;
}

.col-s-5 {
    width: 41.66%;
}

.col-s-6 {
    width: 50%;
}

.col-s-7 {
    width: 58.33%;
}

.col-s-8 {
    width: 66.66%;
}

.col-s-9 {
    width: 75%;
}

.col-s-10 {
    width: 83.33%;
}

.col-s-11 {
    width: 91.66%;
}

.col-s-12 {
    width: 100%;
}

@media only screen and (min-width:750px) {
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }

}

@media only screen and (min-width:1000px) {
    .col-l-1 {
        width: 8.33%;
    }

    .col-l-2 {
        width: 16.66%;
    }

    .col-l-3 {
        width: 25%;
    }

    .col-l-4 {
        width: 33.33%;
    }

    .col-l-5 {
        width: 41.66%;
    }

    .col-l-6 {
        width: 50%;
    }

    .col-l-7 {
        width: 58.33%;
    }

    .col-l-8 {
        width: 66.66%;
    }

    .col-l-9 {
        width: 75%;
    }

    .col-l-10 {
        width: 83.33%;
    }

    .col-l-11 {
        width: 91.66%;
    }

    .col-l-12 {
        width: 100%;
    }

    .caixista {
        display: flex;
        justify-content: center;
    }

}

body {
    background-color: #F78A79;
}