body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

h3 {
  text-align: center;
  color: red;
  font-size: 35px;
  font-family: sans-serif;
  padding: 15px;
}

.slider {
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
}

.slide img {
  width: 800px;
}

.manual-navigation {
  position: absolute;
  width: 800;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  margin-left: 22%;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #fff;
}

#radio1:checked~.first {
  margin: 0;
}

#radio2:checked~.first {
  margin: -12.5%;
}

#radio3:checked~.first {
  margin: -25%;
}

#radio4:checked~.first {
  margin: -37.5%;
}

#radio5:checked~.first {
  margin: -50%;
}



.nagivation-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.nagivation-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background-color: #fff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background-color: #fff;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background-color: #fff;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background-color: #fff;
}

#radio5:checked~.navigation-auto .auto-btn5 {
  background-color: #fff;
}

@media (min-width: 600px) {}