body{
    background-color:#000 ;
}
.card {
    width: 300px;
    height: 500px;
    border-radius: 15px;
    margin-top: 100px;
    background: rgb(255, 0, 0);
    margin: 15px;
    margin-left: 15%;
}

.perfil {
    width: 250px;
    height: 250px;
    border-radius: 10%;
    margin-top: 20px;
    object-fit: cover;
}

.picture {
    display: flex;
    justify-content: center;
}

.text-main {
    padding: 20px;
    text-align: center;
    color: #000;
    font-weight: 600;
    font-size: 25px;
    font-family: sans-serif;
}

.desc {
    font-family: sans-serif;
    color: #000;
    font-weight: 300;
    text-align: center;
    font-size: 20px;
    padding: 0 10px;
}

@media (min-width: 600px) {
    .container-all {
        display: flex;
        justify-content: center;
    }

    .card {
        padding: 0;
        margin-left: 0;
    }

    .perfil {
        width: 200px;
        height: 200px;
        border-radius: 10%;
        margin-top: 20px;
        object-fit: cover;
    }
}